<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.upanddowntheriver">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_playing_cards"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_playing_cards"
        android:supportsRtl="true"
        android:theme="@style/Theme.UpAndDownTheRiver">
        <activity android:name=".Activities.Stats" />
        <activity android:name=".Activities.PreviousGames" />
        <activity android:name=".Activities.DetailedScores" />
        <activity android:name=".Activities.GameEnd" />
        <activity android:name=".Activities.Bids" />
        <activity android:name=".Activities.Bidding" />
        <activity android:name=".Activities.EnterTricks" />
        <activity android:name=".Activities.AfterBidding" />
        <activity android:name=".Activities.Scoreboard" />
        <activity android:name=".Activities.GameStart" />
        <activity android:name=".Activities.FinalizeSettings" />
        <activity android:name=".Activities.SelectPlayers" />
        <activity
            android:name=".Activities.AddEditPlayers"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Activities.AddPlayer" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>